h1 {
    color: red;
    font-family: 'Courier New', 'Brush Script MT', monospace;
}

body {
    background-color: cornflowerblue;
}

h2.description {
    text-align: center;
}

ul.ingredients li {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: orangered
}

ol li {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:active {
    color: orange;
    font-size: 22px;
    font-weight: bold;
}